Repository pragtical/pragtical, pull requests merged in 2023-08, with the labels that each got.

#12 Syntax files symbol_pattern, non_word_chars props
  data/core/commands/findreplace.lua
  data/core/doc/init.lua
  data/core/doc/translate.lua
  data/plugins/autocomplete.lua
  data/plugins/language_css.lua
Labels: Category: Plugins, Category: Lua Core

#11 Fixes #10 by using the scrollbar expanded size
  data/plugins/linewrapping.lua
Labels: Category: Plugins

#15 Highlight CUDA source code the same as C++
  data/plugins/language_cpp.lua
Labels: Category: Plugins

#16 Switch to an older ubuntu builder, fixes #13
  .github/workflows/latest.yml
  .github/workflows/pr_ci.yml
  .github/workflows/release.yml
  meson.build
Labels: Category: Build System, Category: CI

#17 Fixes for msvc ci run
  meson.build
Labels: Category: Build System
