Repository pragtical/pragtical, pull requests merged in 2023-12, with the labels that each got.

#47 Build: system_iconv is needed on windows fixes #46
  meson.build
Labels: Category: Build System

#48 Add project wide search and replace support
  data/core/doc/search.lua
  data/plugins/projectsearch.lua
  data/plugins/search_ui.lua
Labels: Category: Plugins, Category: Lua Core

#50 Prettify the session file output for easy reading
  data/core/init.lua
Labels: Category: Lua Core

#51 Use cmalloc instead of malloc on render init
  src/renderer.c
Labels: Category: C Core

#52 Check tokenizer state to prevent issues with evergreen
  data/core/commands/doc.lua
  data/core/doc/init.lua
Labels: Category: Lua Core

#53 Merge findfileimproved into findfile plugin
  data/plugins/findfile.lua
  data/plugins/findfileimproved.lua
Labels: Category: Plugins

#54 Fix project module sometimes not loading.
  data/core/init.lua
Labels: Category: Lua Core

#55 Correct the runtime environment variable
  src/main.c
Labels: Category: C Core

#56 Update thread initialization code to match main
  src/api/thread.c
Labels: Category: C Core

#57 Update macOS icons to be more close to apple guidelines
  resources/icons/icon.icns
Labels: Category: Resources
