Repository pragtical/pragtical, pull requests merged in 2025-06, with the labels that each got.

#236 Include additional glyphs on icons.ttf
  data/core/emptyview.lua
  data/fonts/icons.ttf
  data/plugins/settings.lua
  resources/icons/editor/README.md
  resources/icons/editor/case.svg
  resources/icons/editor/pattern.svg
  resources/icons/editor/regex.svg
  resources/icons/editor/selection.svg
  resources/icons/editor/whole.svg
  scripts/fontello-config.json
Labels: Category: Plugins, Category: Lua Core, Category: Resources, Category: Fonts

#238 Settings: allow filtering colors
  data/plugins/settings.lua
Labels: Category: Plugins

#241 Enabled word wrap on settings ui labels
  data/plugins/settings.lua
  subprojects/widget.wrap
Labels: Category: Plugins, Category: Build System

#242 Allow always hiding tabs, great for zen mode!
  data/core/commands/core.lua
  data/core/config.lua
  data/core/node.lua
  data/plugins/settings.lua
Labels: Category: Plugins, Category: Lua Core

#243 Doc search fixes and types documentation.
  data/core/doc/search.lua
Labels: Category: Lua Core

#244 Capture replacements on regex/patterns search ui
  data/plugins/search_ui.lua
Labels: Category: Plugins

#245 Fix regex find_offsets not substracting offset
  src/api/regex.c
Labels: Category: C Core

#246 "Properly" handle whole line matches on doc search
  data/core/doc/search.lua
  data/plugins/search_ui.lua
Labels: Category: Plugins, Category: Lua Core

#249 Make DATADIR and USERDIR fonts path portable
  data/plugins/settings.lua
Labels: Category: Plugins

#250 Include 'user' directory on portable installs
  meson.build
  resources/README.md
  resources/portable/README.md
  scripts/innosetup/innosetup.sh
Labels: Category: Build System, Category: Resources

#253 Allow spaces in plugins mod-version
  data/core/init.lua
Labels: Category: Lua Core

#256 Node: skip hidden tab events
  data/core/node.lua
Labels: Category: Lua Core

#257 projectsearch: added built-in controls
  data/fonts/icons.ttf
  data/plugins/projectsearch.lua
  data/plugins/search_ui.lua
  scripts/fontello-config.json
  subprojects/widget.wrap
Labels: Category: Plugins, Category: Build System, Category: Fonts

#262 Updated applicable subprojects.
  subprojects/colors.wrap
  subprojects/packagefiles/ppm/meson.build
  subprojects/pcre2.wrap
  subprojects/plugins.wrap
  subprojects/widget.wrap
Labels: Category: Build System

#264 Wait thread avg time when it exceeds max time
  data/core/init.lua
Labels: Category: Lua Core

#265 restore light lcd filter for slight hinting
  src/renderer.c
Labels: Category: C Core

#267 align soft indention to indention size
  data/core/doc/init.lua
Labels: Category: Lua Core

#266 rework dirmonitors to be able to support multiple backends
  data/core/config.lua
  data/core/dirwatch.lua
  docs/api/dirmonitor.lua
  meson_options.txt
  src/api/dirmonitor.c
  src/api/dirmonitor/dirmonitor.h
  src/api/dirmonitor/dummy.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/meson.build
Labels: Category: C Core, Category: Lua Core, Category: Build System, Category: Documentation

#275 projectsearch: on hide focus previous docview
  data/plugins/projectsearch.lua
Labels: Category: Plugins

#276 Do not sort fuzzy results on empty needle
  data/core/common.lua
Labels: Category: Lua Core

#185 Lua doc comment improvements for better API reference generation
  data/core/command.lua
  data/core/common.lua
  data/core/config.lua
  data/core/doc/encodings.lua
  data/core/init.lua
  data/core/syntax.lua
  data/core/tokenizer.lua
  data/plugins/autocomplete.lua
  data/plugins/autoreload.lua
  data/plugins/drawwhitespace.lua
  data/plugins/findfile.lua
  data/plugins/ipc.lua
  data/plugins/lineguide.lua
  data/plugins/linewrapping.lua
  data/plugins/scale.lua
  data/plugins/search_ui.lua
  data/plugins/toolbarview.lua
  data/plugins/treeview.lua
  data/plugins/trimwhitespace.lua
  docs/api/encoding.lua
  docs/api/globals.lua
  docs/api/renderer.lua
  docs/api/renwindow.lua
  scripts/run-local
Labels: Category: Plugins, Category: Lua Core, Category: Documentation

#279 cli: always display commands sorted by name
  data/core/cli.lua
Labels: Category: Lua Core

#280 Add REPL and run commands to the CLI
  data/core/cli.lua
  data/core/init.lua
  data/plugins/ipc.lua
Labels: Category: Plugins, Category: Lua Core

#282 Update SDL2 to latest fixes from master
  subprojects/sdl2.wrap
Labels: Category: Build System

#285 search_ui: hide replace by default, add toggle
  data/plugins/search_ui.lua
Labels: Category: Plugins

#286 language_xml: remove escape chars from strings
  data/plugins/language_xml.lua
Labels: Category: Plugins
