Repository pragtical/pragtical, pull requests merged in 2025-07, with the labels that each got.

#289 Fix common.color returning rgba values as strings
  data/core/common.lua
Labels: Category: Lua Core

#290 language_lua: add c syntax coloring to ffi.cdef
  data/plugins/language_lua.lua
Labels: Category: Plugins

#291 Add option to draw rendering stats
  data/core/config.lua
  data/core/init.lua
  data/plugins/settings.lua
Labels: Category: Plugins, Category: Lua Core

#293 Limit FPS to match config.fps even during frequent events
  data/core/config.lua
  data/core/init.lua
  data/plugins/settings.lua
Labels: Category: Plugins, Category: Lua Core

#294 autocomplete: on max symbols return syntax_symbols
  data/plugins/autocomplete.lua
Labels: Category: Plugins

#299 settings ui: allow lowering line height to 0.8
  data/plugins/settings.lua
Labels: Category: Plugins

#302 Revert "`drawwhitespace`: Cache whitespace location"
  data/plugins/drawwhitespace.lua
Labels: Category: Plugins

#301 luajit: arm64 patch to increase mcode alloc size
  subprojects/luajit.wrap
  subprojects/packagefiles/luajit/002-ARM64-Support-mcode-allocation-more-than-127MB-away-.patch
  subprojects/packagefiles/luajit/003-Support-placing-JIT-code-outside-of-jump-range-from-.patch
Labels: Category: Build System

#303 borderless: scale window hit test info
  src/api/system.c
  src/renwindow.h
Labels: Category: C Core

#287 REPL history and completion support
  data/core/cli.lua
  data/core/repl.lua
  docs/api/repl.lua
  meson_options.txt
  src/api/api.c
  src/meson.build
  subprojects/linenoise.wrap
Labels: Category: C Core, Category: Lua Core, Category: Build System, Category: Documentation

#307 Only update active views and draw visible ones
  data/core/nagview.lua
  data/core/node.lua
Labels: Category: Lua Core

#308 Lower frame rate only after 3 consecutive drops
  data/core/init.lua
Labels: Category: Lua Core

#309 Don't use incremental gc on Lua 5.4+
  data/plugins/settings.lua
Labels: Category: Plugins

#311 Configurable amount of context lines visible on scroll
  data/core/config.lua
  data/core/docview.lua
  data/plugins/settings.lua
Labels: Category: Plugins, Category: Lua Core

#313 Improve core.run() timings.
  data/core/init.lua
Labels: Category: Lua Core

#314 doc:go-to-line: live syntax preview
  data/core/commands/doc.lua
  data/core/commandview.lua
Labels: Category: Lua Core

#315 Add search highlight styles to pre-packaged themes
  data/colors/default.lua
  data/colors/fall.lua
  data/colors/lite.lua
  data/colors/summer.lua
  data/colors/textadept.lua
Labels: Category: Themes

#316 Add built-in config to toggle line numbers
  data/core/commands/core.lua
  data/core/config.lua
  data/core/docview.lua
  data/plugins/settings.lua
Labels: Category: Plugins, Category: Lua Core

#306 Built-in support for file and string comparisons
  data/colors/default.lua
  data/core/commands/core.lua
  data/core/doc/init.lua
  data/plugins/diffview.lua
  docs/api/diff.lua
  src/api/api.c
  src/api/diff.c
  src/meson.build
Labels: Category: C Core, Category: Plugins, Category: Lua Core, Category: Documentation, Category: Themes

#318 Move inner functions to outer on tokenizer.tokenize
  data/core/tokenizer.lua
Labels: Category: Lua Core

#319 Updated widgets for color reference support
  data/plugins/settings.lua
  subprojects/widget.wrap
Labels: Category: Plugins, Category: Build System

#321 Add common.open_in_system(resource) function
  data/core/common.lua
  data/core/emptyview.lua
  data/plugins/settings.lua
  data/plugins/treeview.lua
Labels: Category: Plugins, Category: Lua Core

#254 SDL3 port
  .github/workflows/pr_ci.yml
  .github/workflows/release.yml
  .github/workflows/rolling.yml
  data/core/commands/command.lua
  data/core/commands/findreplace.lua
  data/core/commands/statusbar.lua
  data/core/contextmenu.lua
  data/core/dirwatch.lua
  data/core/doc/highlighter.lua
  data/core/emptyview.lua
  data/core/ime.lua
  data/core/init.lua
  data/core/keymap.lua
  data/core/process.lua
  data/core/start.lua
  data/core/titleview.lua
  data/core/tokenizer.lua
  data/plugins/contextmenu.lua
  data/plugins/lineguide.lua
  data/plugins/quote.lua
  data/plugins/reflow.lua
  docs/api/system.lua
  meson.build
  resources/README.md
  resources/linux/dev.pragtical.Pragtical.appdata.xml
  resources/linux/dev.pragtical.Pragtical.desktop
  scripts/appimage.sh
  src/api/channel.c
  src/api/channel.h
  src/api/diff.c
  src/api/dirmonitor.c
  src/api/dirmonitor/fsevents.c
  src/api/dirmonitor/inodewatcher.cpp
  src/api/dirmonitor/inotify.c
  src/api/dirmonitor/kqueue.c
  src/api/dirmonitor/win32.c
  src/api/encoding.c
  src/api/process.c
  src/api/regex.c
  src/api/renderer.c
  src/api/renwindow.c
  src/api/shmem.c
  src/api/system.c
  src/api/thread.c
  src/main.c
  src/meson.build
  src/rencache.c
  src/renderer.c
  src/renderer.h
  src/renwindow.c
  src/renwindow.h
  src/utfconv.h
  src/windows/darkmode.c
  src/windows/darkmode.h
  subprojects/packagefiles/sdl3/meson.build
  subprojects/sdl2.wrap
  subprojects/sdl3.wrap
Labels: Category: C Core, Category: Plugins, Category: Lua Core, Category: Build System, Category: Documentation, Category: CI, Category: Resources
